{% extends "main/base.html" %}
{% load static %}

{% block title %}Редактировать профиль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/edit_profile.css' %}">
{% endblock %}

{% block content %}
<div class="edit-profile-container">
    <h2>Редактирование профиля</h2>
    <form method="post" enctype="multipart/form-data" class="edit-profile-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}
